<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="{{ url_for('static', filename='styles/home.css') }}">
    <meta charset="UTF-8">
    <title>App Name</title>
</head>
<body>

<div class = "home-main-div">
    <h2>Welcome to</h2>
    <h1>APP NAME</h1>
    <div class = "description">
        <p>Our application takes a new turn when practicing for interviews. While we understand
        the transition to talk to interviews can be scary, we can help out with the process!
        We've made our application easy to use and fun to use!</p>
    </div>
</div>

</body>
</html>