<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="\static\styles\home.css">
    <meta charset="UTF-8">
    <title>WiNG.it</title>
</head>
<body>

<div class = "home-main-div grid">
    <h1>WiNG.it</h1>
    <h3>so you don't need to wing it!</h3>
    <div class = "description">
        <p>Be <b>W</b>ell-prepared for <b>I</b>nterviews, <b>N</b>etworking, and being <b>G</b>reat! </p>
        <p>Our application takes a new turn when practicing for interviews. While we understand
        the transition to talk to interviews can be scary, we can help out with the process!
        We've made our application easy and fun to use!
        </p>
    </div>
        <a href = "/instructions">
            <button class = "get-started-button">
            Get Started
        </button></a>
    <br/><br/>

     <p class = "project-creators">Project created by <span><a target="_blank" href = "https://www.linkedin.com/in/xiaoguo-jia/">Xiaoguo Jia</a>, <a target="_blank" href = "https://www.linkedin.com/in/rachel-pu-ufl/">Rachel Pu</a>, <a target="_blank" href = "https://www.linkedin.com/in/chelseaqnguyen/">Chelsea Nguyen</a>, <a target="_blank" href = "https://www.linkedin.com/in/saranicolesmith/">Sara Smith</a></span></p>
</div>

</body>
</html>