<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="\static\styles\instructions.css">
    <meta charset="UTF-8">
    <title>Instructions</title>
</head>
<body>
    <h3 class=" instructionsHeading">Instructions:</h3>
    <p class="instructionBullets">
        • You will respond to 5 questions in total
        <br>• You must finish each question before going to the next
        <br>• After completing the 5 questions, we'll reveal your stats!
    </p>
    <button>Okay! Got it!</button>

</body>
</html>