<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="\static\styles\instructions.css">
    <meta charset="UTF-8">
    <title>Instructions</title>
</head>
<body>
    <div class= instructionsMainDiv>
        <div class=" instructionsText">
            <h1 class=" instructionsHeading">Instructions:</h1>
            <p class="instructionBullets">
                • You will have five questions in total
                <br> • You have only one try to record your response
                <br>• You must finish each question before going to the next
                <br>• After completing the five questions, we'll reveal your stats!
                <br>• Finish each question to the best of your ability! Don't be afraid of making mistakes! (This is practice)
            </p>
        </div>
        
        <a href = "/interview1"><button class= "okayButton">Okay! Got it!</button></a>
    </div>
   

</body>
</html>