<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="\static\styles\interview.css">
    <meta charset="UTF-8">
    <title>Interview</title>
</head>
<body>

<div class = "entire-interview-div">
<!--  where all the main stuff, cat animation, everything goes  -->
    <div class = "interview-main-div">
          <img class = "hi" src = "/static/images/testKitty.png">
        <p>{{question3}}</p>
    </div>
<!--  microphone  -->
    <div class = "microphone-div">
        <div class = "microphone-button-div">
            <button id="microphone-button"><img class = "microphone-image" src = "/static/images/microphone.png"></button>
<!--            <p id="transcription">Press the button and start speaking...</p>-->
            <a href = "/interview4"><button>go to page 4</button></a>
        </div>
<!--        <a href = "/interview4"><button>go to page 4</button></a>-->

<!--    JAVASCRIPT FOR MICROPHONE    -->
        <script src = "/static/javascript/speechRecognition.js"></script>

    </div>

</div>
</body>
</html>