@font-face {
    font-family: 'eas-vhs';
    src: url('../fonts/easvhs.ttf');
}

@font-face{
    font-family: 'satoshi-medium';
    src: url('../fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf');
}

body{
    background-color: #fff3e5;
}

.home-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #d27878;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

.home-main-div h1{
    margin-top: 120px;
    font-size: 225px;
    font-family: 'eas-vhs';
}

.home-main-div h3{
    margin-top: -140px;
    font-size: 40px;
}

.home-main-div p{
    font-size: 20px;
    margin-top: -10px;
    padding-bottom: 20px;
}

.description{
    width: 75%;
    margin: auto;
}

.get-started-button{
    width: 45%;
    margin: auto;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    font-family: 'satoshi-medium';
    border-radius: 10px;

}

.project-creators{
    margin-top: -50px;
    color: white;
}

