@font-face {
    font-family: 'eas-vhs';
    src: url('../fonts/easvhs.ttf');
}

@font-face{
    font-family: 'satoshi-medium';
    src: url('../fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf');
}

.instructionsHeading{
    font-family: eas-vhs;

}

.instructionBullets{
    background-color: #d27878;
    font-family: satoshi-medium;

}