@font-face {
    font-family: 'eas-vhs';
    src: url('../fonts/easvhs.ttf');
}

@font-face{
    font-family: 'satoshi-medium';
    src: url('../fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf');
}

@font-face{
    font-family: 'DMSans_Regular';
    src: url('../fonts/DMSans_24pt-Regular.ttf');
}

@font-face{
    font-family: 'Outfit-Regular';
    src: url('../fonts/Outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit-Medium';
    src: url('../fonts/Outfit/static/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('../fonts/Outfit/static/Outfit-SemiBold.ttf');

}

body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgba(203, 213, 225, 0.5)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgba(203, 213, 225, 0.5)' /%3E%3C/svg%3E%0A");
    justify-items: center;
    align-items: center;
    font-family: 'Outfit-Medium';
}


.instructionsMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers content vertically in the div */
    text-align: center;
    border-radius: 10px;
    background-color: #669bc0;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 65%;
    width: 60%;
    margin: auto; /* Centers the div horizontally */
    position: absolute;
    top: 50%; /* Position the top edge of the element at the middle of the parent */
    left: 50%; /* Position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* Offset the element to center it exactly */
}


.instructionsText {
    text-align: left;
    padding-left: 2%;
    margin-top: -30px;
}

.instructionsHeading{
    font-size: 70px;
    margin-top: 30px;
    letter-spacing: 3px;
    font-family: eas-vhs;
    text-align: center;
}


.instructionBullets{;
    margin-top: -20px!important;
    font-size: 25px;
    font-family: satoshi-medium;
    width: 75%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}


.okayButton {
    border-radius: 10px;
    border-color: #a2eaef;
    padding: 4%;
    margin: 2%;
    font-size: 30px;
    font-family: 'satoshi-medium';
    border: none;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #a8dadc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1d3557;
    cursor: pointer;
    width: 100%;
}

.okayButton:hover {
    background-color: #77c1ce
}

.okayButton:active {
    background-color: #77c1ce;
    box-shadow: 0 5px #1d3557;
    transform: translateY(4px);
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
}


.refresh-message{
    text-align: center;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
}
