body{
    background-color: #e7cbb3;
}

.entire-interview-div{
    background-color: white;
    margin: 20px;
    height: 95vh;
    /*position: relative;*/
}

.interview-main-div{
    height: 80vh;
}

.hi{
    width: 100%; /* Make the image take up 100% of the div's width */
    height: 100%; /* Make the image take up 100% of the div's height */
    object-fit: cover;
}

.microphone-div{
    display: flex;
    background-color: grey;
    height: 16%;
    justify-content: right; /* Centers content horizontally in the container */
    align-items: center;
}

.microphone-button-next-arrow-div{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Centers content horizontally in the container */
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
}

.microphone-image{
    width: 45px;
    height: 45px;
}

.microphone-button-div{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
    height: 12%; /* Ensure that the height is sufficient to contain the contents */
}

.interview-main-div p {
    font-size: 24px;
    font-family: 'satoshi-medium';
    margin-left: 20px;
    margin-right: 20px;

}

#cat {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    animation: talking 6s ease-in alternate; /* Adjust animation duration as needed */
}

@keyframes talking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#cat.closed {
    display: none;
}
