body{
    background-color: #e7cbb3;
}

.entire-interview-div{
    background-color: white;
    margin: 20px;
    height: 95vh;
}

.interview-main-div{
    height: 84vh;
        position: relative;
}

.hi{
    width: 100%; /* Make the image take up 100% of the div's width */
    height: 100%; /* Make the image take up 100% of the div's height */
    object-fit: cover;
}

.microphone-div{
    display: flex;
    flex-direction: row;
    background-color: grey;
    height: 12%;
    align-items: center;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* cat talking */
/*.cat-container {*/
/*    position: relative;*/
/*}*/

#cat {
    position: absolute;
    top: 0;
    left: 0;
    animation: talking 1s ease-in alternate; /* Adjust animation duration as needed */
}

@keyframes talking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#cat.closed {
    display: none;
}
