@font-face {
    font-family: 'eas-vhs';
    src: url('../fonts/easvhs.ttf');
}

@font-face{
    font-family: 'satoshi-medium';
    src: url('../fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf');
}

body{
    background-color: #f1faee;
}

.header-div h1{
    font-family: 'eas-vhs';
    letter-spacing: 2px;
    text-align: center;
    font-size: 55px;
    margin-bottom: 15px;
}

.container {
    /*background-color: red;*/
    display: flex;
    height: 120vh;
    margin-right: 20px;
    margin-left: 20px;
}

.questions-reset-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*background-color: #d27878;*/
    width: 33%;
    height: 100%;
    margin-top: -130px;
    border-radius: 10px;
    padding-right: 50px;
    padding-left: 50px;
    float: left;
    font-family: 'satoshi-medium';
}

.questions-reset-div h1{
    font-size: 30px;
    font-family: 'eas-vhs';
    text-align: left;
    margin: 10px;
}

.question-btn {
    border-radius: 10px;
    /*background-color: blue;*/
    border-color: #a8dadc;
    padding: 3%;
    margin: 2%;
    font-size: 20px;
    font-family: 'satoshi-medium';
    border: none;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #a8dadc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1d3557;
    cursor: pointer;
}

.question-btn:hover
    {background-color: #89afc0
}

.question-btn:active {
    background-color: #89afc0;
    box-shadow: 0 5px #1d3557;
    transform: translateY(4px);
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
}

.question-btn.pressed {
    background-color: #89afc0;
    box-shadow: 0 5px #1d3557;
    transform: translateY(4px);
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
}

.stats-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    /*background-color: #d27878;*/
    width: 60%;
    height: auto;
    margin: auto;
    margin-right: 20px;
    /*margin-top: 0%;*/
    border-radius: 10px;
    float: right;
    font-family: 'satoshi-medium';
}

.results-div{
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    height: auto;
    background-color: #c4c7b4;
}

.reset-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    height: 10%;
}

#question1stats{
    height:100%;
    width:auto;
    color:white;
    background-color:#023047;
    padding:10px;
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

#question2stats{
    height:100%;
    width:auto;
    color:white;
    background-color:#023047;
    padding:10px;

    /*margin-top: 0%;*/
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

#question3stats{
    height:100%;
    width:auto;
    color:white;
    background-color:#023047;
    padding:10px;
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

#question4stats{
    height:100%;
    width:auto;
    color:white;
    background-color:#023047;
    padding:10px;
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

#question5stats{
    height:100%;
    width:auto;
    color:white;
    background-color:#023047;
    padding:10px;
    border-radius: 10px;
    font-family: 'satoshi-medium';
}

.hidden{
    display:none;
}

.advice-for-questions{
    font-size: 20px;
    font-family: 'satoshi-medium';
    margin-top: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;

    position: relative;
}

.advice-for-questions .bad{
    padding-top: -10px;
    padding: 15px;
    background-color: #d53b3b;
    width: 50%;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    flex: 3;
}

.advice-for-questions .good{
    padding: 15px;
    background-color: #5cc75c;
    width: 50%;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 3;
}

.reset-button{
    border-radius: 10px;
    padding: 4%;
    margin: 2%;
    font-size: 30px;
    font-family: 'satoshi-medium';
    border: none;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #5cc75c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #2d5e2c;
    cursor: pointer;
}

.reset-button:hover
{background-color: #54ad53
}

.reset-button:active {
    background-color: #54ad53;
    box-shadow: 0 5px #225725;
    transform: translateY(4px);
    justify-content: center; /* Centers content horizontally in the container */
    align-items: center; /* Centers content vertically in the container */
}

.completed-response-div{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}